* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  padding: 20;
}

.wrapper {
  background: #ffffff;
  display: flex;
}

/* //////////////////////////////////////////////////////////////////////////// */

/* obviously what does that mean:) */
.left-sidebar {
  background-color: #192a44;
  width: 350px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contacts-cont {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 55px;
}

/*Hard and Soft titles*/
.sidebar-big-titles {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}
/* sheets1-side bar; sheets2 - main bar */
.sheets1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.sheets2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
}

/* orange dots for list of skills  */
.white-skills {
  color: #c97a45;
}
/* white name of skills inside <span> */
.white-word-skills {
  color: #ffffff;
}

.bolt-numb-project {
  color: #ffffff5d;
}
.about-me-conteiner {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
  padding-bottom: 110px;
}

.text-about-me {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.font-color {
  color: #4b4a4a;
}

.senior-titles {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.sub-titles {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.place-of-work {
  color: #ff6b08;
  margin: 5px;
  margin-bottom: 20px;
}

.job-time-data {
  color: #727272;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}

.edu-title {
  color: #ff6b08;
  margin-top: 20px;
}

/* Still not decide whats variant better... */
/* .margin-to-r {
  margin-left: 25px;
} */

/* //////////////////////////////////////////////////////////////////////////////// */

/* ID's: #c - contacts, #foto - resume foto, #black-font - situative "black magic") */

#c1 /* number and email */ {
  color: #ffffff5d;
  font-size: 14px;
  padding-left: 5px;
}
#c2 /* E: and C: */ {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}

/* size and place of foto on page */
#foto {
  height: 350px;
  display: flex;
  flex-direction: column;
}

#profession1 {
  color: #979797;
  font-size: 18px;
  margin-bottom: 10px;
}

#name1 {
  font-size: 45px;
  font-weight: 700;
}

#cont-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 10px;
}

#project_list-number {
  font-weight: 700;
}

/* education specials */
#edu-spec {
  font-size: 14px;
  line-height: 24px;
}

/* RED color for custom injections */
#red-font {
  color: #ff6b08;
}

/* MAke BOLD whole line...WTF?! */
#bolt-font {
  font-weight: 700;
}

/* make font NORM again! id - inside <span> */
#norm-font {
  font-weight: 400;
}
